# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Maven
target/
*.versionsBackup

# Gradle
.gradle/
build/

# OSX
*.DS_Store

*.log
/spock-geb/src/test/groovy/de/qaware/showcase/spock/geb/GoogleSearchSpec.groovy
